# VS Code
.vscode/
*.code-workspace

# Python
backend/.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
# Allow the main workspace file
!id-photo-fr.code-workspace

# OS
.DS_Store
Thumbs.db

# Misc
*.zip